.movies__wrap {
    overflow: hidden;
}
.movies__inner {
    height: 970px;
    position: relative;
    .text {
        > h3 {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        > p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 28px;
    
        }
        > a {
            border-radius: 50px;
            margin-bottom: 60px;
    
        }
    }
    .movies__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;
        margin-bottom: 100px;

        > div {
            width: 350px;
            margin-right: 20px;
            > img {
                width: 100%;
            }
        }
    }
}