//port__wrap
.port__wrap {
  background-color: var(--bg_section);
}
.port__btn {
  > ul {
    margin-bottom: 40px;
    text-align: center;
    > li {
      display: inline-block;
      width: 200px;
      height: 48px;
      border-radius: 50px;
      background-color: #e9eeff;
      border: 1px solid #2250c5;
      padding: 7px;
      margin-right: 10px;
      color: #fff;
      &.active {
        display: inline-block;
        width: 200px;
        height: 48px;
        border-radius: 50px;
        background-color: #b7cbfd;
        border: 1px solid #092d88;
        padding: 7px;
        color: #fff;
      }
      &:hover {
        display: inline-block;
        width: 200px;
        height: 48px;
        border-radius: 50px;
        background-color: #2250c5;
        border: 1px solid #092d88;
        padding: 7px;
        color: #fff;
      }
      > a {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}
.port__cont {
  @include flex-between;
  flex-wrap: wrap;
  .port {
    width: 32%;
    margin-bottom: 20px;
    .port__header {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
    .port__body {
      display: flex;
      flex-wrap: nowraps;
      div {
        &:first-child {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #ddd;
          overflow: hidden;
        }
        &:last-child {
          position: relative;
          top: -5px;
          text-align: left;
          margin-left: 10px;
          > h4 {
            font-size: 20px;
          }
          > p {
            font-size: 16px;
            color: #2c3a4b;
          }
        }
      }
    }
  }
}
